.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.bottom {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Scrollbar styling */

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
  width: 8px;
}

.left::-webkit-scrollbar-thumb,
.right::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}